
// Colors
$text-darkest: 	      rgb(31, 39, 48);
$text-darkest-offset: 	      rgb(57, 73, 90);
$text-dark-offset: 	      rgb(70, 89, 109);
$text-dark: 	      #49596C;
$text-dark-offset:    rgb(91, 107, 124);
$text-light: 	      #717984;
$text-lighter: rgb(211, 211, 211);
$text-lightest: 	  #aaadaf;
$text-verylight: #eaeaea;
$brand-red:           #C93238;
$brand-red-offset:           rgb(226, 60, 65);
$brand-primary: 	  #11A2EF;
$brand-secondary: 	  #11A2EF;
$brand-success: 	  #57A54D;
$brand-success-offset:#BCE0B7;
$brand-warning:       #FEEFB3;
$brand-warning-offset:#EBE3C6;
$brand-info:          #11A2EF;
$brand-info-offset:   #85CBEE;
$brand-danger: 	      #F24343;
$brand-danger-offset: #F08383;
$background:          #F7FAFC;
$border-line:         #E3EBED;
$white: 	          #FFFFFF;
$black: 	          #000000;

$esw-border-gradient: rgba(171,164,171,0.7);
$esw-border-gradient-trans: rgba(171,164,171,0.35);
